.image-responsive {
    width: 400px;
}

.image-card {
    width: 300px;
    height: 300px;
}

#root {
    background-color: #646268;
}

.movie-input {
    margin: 0px 0px 0px 120px;
    width: 1000px;
    height: 40px;
}

.search-btn {
    margin: 0px 0px 3px 0px;
    width: 100px;
    height: 40px;
}

.movie-text {
    margin: 0px 0px 10px 525px;
    width: 270px;
    padding-top: 30px;
    text-decoration: underline;
}

.image-responsive {
    width: 470px;
}

@media only screen and (max-width: 600px) {

    .movie-card {
        margin-left: 40px;
        margin-bottom: 10px;
    }

    .movie-input {
        margin: 0px 0px 0px 30px;
        width: 270px;
    }

    .search-btn {
        margin: 0px 0px 3px 0px;
        width: 70px;
        height: 40px;
    }

    .movie-text {
        margin: 0px 0px 10px 125px;
        padding-top: 30px;
    }

    .image-responsive {
        width: 300px;
        margin-left: 20px;
    }

}